.titleBarContainer {
    display: flex;
    margin-top: 0.5rem;
    width: 100vw;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    margin: 0;
    align-items: center;
    border-bottom: 0.5px solid lightgray;
    /* background: linear-gradient(to right, #333333, #5C315D, #581959, #5C315D, #333333); */
}

.asciiBox {
    color: white;
    font-weight: 700;
}

.asciiBox img {
    width: 45vw;
}

.secondaryBox {
    display: flex;
    flex-direction: row;
    color: white;
}

.secondaryBox p {
    padding-left: 0.8rem;

}


@media only screen and (max-width: 1024px) {
    .titleBarContainer {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    .asciiBox img {
        width: 65vw;
    }
}

@media only screen and (max-width: 480px) {
    .asciiBox img {
        width: 95vw;
    }
}