:root {
  --violetlight100: #8800c7;
  --violetlight75: #9F32D2;
  --violetlight50: #B766DD;
  --violetlight25: #CF99E8;
  --violetlight0: #E7CCF3;
  --yellowlight100: #FFF52E;
  --yellowlight75: #FFF757;
  --yellowlight50: #FFF981;
  --yellowlight25: #FFFBAB;
  --yellowlight0: #FFFDD5;
  --violetdark100: #8800c7;
  --violetdark75: #9F32d2;
  --violetdark50: #B766dd;
  --violetdark25: #CF99E8;
  --violetdark0: #E7CCF3;
  --yellowdark100: #FFF52E;
  --yellowdark75: #FFF757;
  --yellowdark50: #FFF981;
  --yellowdark25: #FFFBAB;
  --yellowdark0: #FFFDD5;
}


body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 10,
}

.verticalBar {
  flex: 1;
  animation: fadeIn 2s linear forwards;
  opacity: 0;
}

/* .butterflyContainer {
  flex: 1;
  animation: fadeIn 3s linear forwards;
  opacity: 0;
  width: 70vw;
  height: 70vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, 0) scale(1);
  }

  25% {
    opacity: 0.60;
    transform: translate(calc(-25vw + 50px), calc(-25vh + 50px)) scale(0.75);
  }

  50% {
    opacity: .8;
    transform: translate(calc(-50vw + 50px), calc(-50vh + 50px)) scale(0.5);
  }

  75% {
    opacity: .8;
    transform: translate(calc(-75vw + 50px), calc(-75vh + 50px)) scale(0.3);
  }

  100% {
    opacity: 0.3;
    transform: translate(calc(-90vw + 50px), calc(-90vh + 50px)) scale(0.2);
  }
}

@media (prefers-color-scheme: dark) {

  /* Styles for dark mode */
  body {
    background-color: black;
  }
}

@media (prefers-color-scheme: light) {

  /* Styles for light mode */
  body {
    background-color: white;
  }
}